h1 {
    color: blue;
    text-align: center;
}

h2 {
    color: blue;
    text-align: center;
}

h3 {
    color: blue;
    text-align: center;
}

h4 {
    color: blue;
    text_align: left;
}

li {
    color: blue;
    text-align: center;
}

ul {
    color: blue;
    text-align: center;
}

p {
    color: black;
    text-align: center;
}
